@model Dawe.Controllers.FileController.FileCreateModel
@{
    ViewData["Title"] = "Create File";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="row mt-4">
    <div class="col-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="Path" id="epath" />
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" placeholder="@nameof(Model.Name)" />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                @Html.DropDownListFor(x => x.SelectedCategory, new SelectList(Model.Categorys, "Value", "Text"), htmlAttributes: new { @class = "form-select", id = "Category"})
                <label for="Category">Category</label>
                @Html.ValidationMessageFor(x => x.SelectedCategory, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mb-3">
                <input id="CreateButton" type="submit" value="Create" class="btn btn-primary" disabled />
            </div>
        </form>
    </div>
    <div class="col-4">
        <div id="UploadAlert"></div>
        <form id="file" enctype="multipart/form-data">
            <div class="mb-3">
                <input class="form-control" id="files" name="files" type="file" size="1" />
            </div>
            <div class="mb-3">
                <input id="UploadButton" type="button" class="btn btn-primary" value="Upload" onclick="uploadFiles('files')" />
            </div>
            <div class="progress">
                <div id="uploadprogress" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-aria-valuemin="0" aria-aria-valuemax="100"></div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function uploadFiles(inputId) {
            var input  = document.getElementById(inputId);
            var files = input.files;
            var formData = new FormData();
                formData.append("files", files[0]);
            $.ajax(
                {
                    xhr: function() {
                        var xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener('progress', function(event) {
                            if(event.lengthComputable) {
                                var percent = event.loaded / event.total * 100;
                                $('#uploadprogress').width(percent+'%').attr('aria-valuenow', percent);
                            }
                        });
                        return xhr;
                    },
                    url: "/File/Upload",
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    beforeSend: function(request) {
                        request.setRequestHeader("RequestVerificationToken", $("[name='__RequestVerificationToken']").val());
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        showalert("Error in Upload " + textStatus + " | " + errorThrown, "warning", "#UploadAlert");
                    },
                    success: function(data) {
                        showalert("Upload Succesfull", "success", "#UploadAlert");
                        $("#UploadButton").toggleClass("btn-primary btn-success");
                        $("#CreateButton").prop('disabled', false);
                        $("#epath").val(data);
                    }
                }
            );
        }

        function showalert(message, type, placeholder) {
            var alertplaceholder = $(placeholder);
            var wrapper = document.createElement('div');
            wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>';

            alertplaceholder.append(wrapper);
        }
    </script>
}