@model Dawe.Models.Series
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div class="row">
    <div class="col-4">
        <img src="data:image/*;base64,@(Convert.ToBase64String(Model.Thumbnail))" />
    </div>
    <div class="col-6">
        <h3>@Html.DisplayFor(m => Model.Name)</h3>
        <p>@Html.DisplayFor(m => Model.Description)</p>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var show in Model.Episodes)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(number => show.episodeNumber)</th>
                <td>@Html.DisplayFor(number => show.name)</td>
            </tr>
        }
    </tbody>
</table>