@model Dawe.Models.Show
@{
    ViewData["Title"] = "Details";
    Layout = "~/View/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<ul class="list-group">
    @foreach (var episode in Model.Episodes){
        <li class="list-group-item">

        </li>
    }
</ul>