@model Dawe.Controllers.ShowController.EpisodeEditModel
@{
    ViewData["Title"] = "Add Episode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="row">

</div>
